<div class="pokemon-container">
<% unless pokemons.count >= 100 %>
  <button data-controller="add-pokemon" data-action="add-pokemon#add">Add pokemon</button>
<% end %>
  <% pokemons = pokemons.order(:created_at) %>
  <% pokemons.each_with_index do |pokemon, i|%>
    <% srand(i) %>
    <% colour = "%06x" % (rand * 0xffffff) %>
    <% if pokemon.is_alive? && !pokemon.is_boxed? %>
      <div style="background-color: #<%=colour%>" class="pokemon">
        <%= render "pokemon", pokemon: pokemon %>
      </div> 
    <% end %>
  <% end %> 
</div>

<div class="dead-pokemon-container">
  Dead
  <% pokemons.each_with_index do |pokemon, i|%>
    <% unless pokemon.is_alive? %>
      <% srand(i) %>
      <% colour = "%06x" % (rand * 0xffffff) %>
      <div style="background-color: #<%=colour%>" class="pokemon">
        <%= render "pokemon", pokemon: pokemon %>
      </div> 
    <% end %>
  <% end %> 

  Boxed
  <% pokemons.each_with_index do |pokemon, i|%>
    <% if pokemon.is_boxed? && pokemon.is_alive? %>
      <% srand(i) %>
      <% colour = "%06x" % (rand * 0xffffff) %>
      <div style="background-color: #<%=colour%>" class="pokemon">
        <%= render "pokemon", pokemon: pokemon %>
      </div> 
    <% end %>
  <% end %> 
</div>
